@charset "UTF-8";
img, legend {
    border: 0
}

legend, td, th {
    padding: 0
}

.ul li, sub, sup {
    position: relative
}

.f-d-column, .f-d-row, .form {
    -moz-box-direction: normal
}

:active, :focus, a:active, a:hover {
    outline: 0
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-family: Roboto-Bold;
    font-weight: 100;
    color: inherit;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre, textarea {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

.form .btn, .h5, .text-uppercase, .uppercase, h5 {
    text-transform: uppercase
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

.btn, .form .btn, .main_section-event_info td:first-child {
    text-align: center
}

.flex {
    display: -webkit-flex;
    display: -moz-box;
    display: flex
}

.i-flex {
    display: -webkit-inline-flex !important;
    display: -moz-inline-box !important;
    display: inline-flex !important
}

.f-d-row {
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    flex-direction: row
}

.f-d-column, .form {
    -moz-box-orient: vertical
}

.f-d-column {
    -webkit-flex-direction: column;
    flex-direction: column
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.j-c-space-between {
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between
}

.j-c-space-around {
    -webkit-justify-content: space-around;
    justify-content: space-around
}

.j-c-flex-end {
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    justify-content: flex-end
}

.j-c-center {
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center
}

.a-i-center {
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center
}

.a-i-flex-end {
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    align-items: flex-end
}

.a-i-stretch {
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    align-items: stretch
}

.f-w-w {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.f-w-wr {
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse
}

.f-w-nw {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap
}

@media only screen and (max-width: 768px) {
    .f-d-column-fix {
        -webkit-flex: 1 1 auto;
        -moz-box-flex: 1;
        flex: 1 1 auto
    }
}

.h1, h1 {
    font-size: 4.8125rem;
    line-height: 1.06493506;
    font-weight: 600;
    margin: 0
}

.h2, h2 {
    font-size: 3.25rem;
    line-height: 1.19230769;
    font-weight: 700;
    margin: 0 auto .769em
}

.h2--subtitle, h2--subtitle {
    margin-bottom: 12px
}

.h3, h3 {
    font-size: 3.5rem;
    font-weight: 900;
    margin: 0 0 30px
}

.h4, .h5, h4, h5 {
    font-weight: 400
}

.h4, h4 {
    font-size: 1.6875rem;
    line-height: 1.18518519;
    font-style: italic;
    color: #CACFD5;
    margin: 0 0 40px
}

.h5, h5 {
    font-size: 1.25rem;
    line-height: 1.15;
    margin: 0 6px
}

.p, .ul li {
    font-weight: 700;
    font-size: .75rem
}

.ul, p {
    margin: 0
}

.p {
    line-height: 1.41666667
}

.ul {
    padding: 20px 0 10px;
    list-style-type: none
}

.ul li {
    padding-left: 50px;
    margin-bottom: 25px
}

.ul li.no-list-icon {
    padding-left: 0
}

.ul li.no-list-icon::before {
    display: none
}

.ul li:hover::before {
    left: 4px
}

.ul li::before {
    content: '⟶';
    position: absolute;
    font-weight: 400;
    left: 0;
    top: 0;
    font-size: 20px;
    line-height: 12px
}

.register_title {
    font-size: 3.5rem;
    font-weight: 600
}

.link, .subtitle {
    font-weight: 700
}

.subtitle {
    font-size: 2.0625rem;
    margin-bottom: 15px
}

.c-white {
    color: #fff
}

.description-text {
    color: #0E2766;
    margin-bottom: 20px
}

.link {
    letter-spacing: .02em;
    text-decoration: none
}

.link:hover {
    text-decoration: underline
}

.btn, .btn-white:hover, .btn:hover {
    text-decoration: none
}

.text-black {
    color: #000
}

.btn {
    display: inline-block;
    padding: 0 20px;
    min-width: 200px;
    background: #ff9500;
    color: #fff;
    border-radius: 2.5px;
    font-size: 1.5625rem;
    line-height: 55px;
    border: 0
}

.about-block:first-child, .form {
    display: -webkit-flex;
    display: -moz-box
}

.btn-white, .btn:hover {
    background-color: #fff
}

.btn:hover {
    color: #ff9500
}

.btn-white {
    color: #0E2766
}

.btn-white:hover {
    background-color: #ff9500;
    color: #fff
}

.form {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.form .radio_block {
    margin-top: 20px;
    margin-bottom: 20px
}

.form .input {
    font-size: 1.125rem;
    border: 1px solid #fff;
    border-radius: 4px;
    height: 55px;
    line-height: 55px;
    padding: 0 22px;
    width: 100%;
    margin-bottom: 15px;
    background-color: transparent;
    color: #fff
}

.form .input::-webkit-input-placeholder {
    opacity: .4
}

.form .input::-moz-placeholder {
    opacity: .4
}

.form .input:-ms-input-placeholder {
    opacity: .4
}

.form .input::placeholder {
    opacity: .4
}

.form input[type=radio] {
    display: none
}

.form input[type=radio] + label {
    display: block;
    font-size: 1.1875rem;
    margin-bottom: 15px;
    position: relative;
    padding-left: 35px
}

.form input[type=radio] + label:before {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    border: 1px solid #fff;
    position: absolute;
    border-radius: 50%;
    left: 0
}

.main_section-event_info tr:last-child td, .main_section-event_info tr:not(:last-child) td {
    border-bottom: 2px solid #fff
}

.form input[type=radio]:checked + label:after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    left: 5px;
    top: 5px;
    background-color: #fff
}

.form .btn {
    width: 100%;
    line-height: 1;
    padding: 17px 20px 13px
}

.form .error {
    color: red;
    margin-bottom: 10px
}

.usual_link {
    color: inherit;
    text-decoration: underline
}

.usual_link:hover {
    text-decoration: none
}

@media (max-width: 860px) {
    .register_title {
        font-size: 2.5rem
    }
}

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 2.1875rem
    }
    .subtitle {
        font-size: 1.5625rem;
        font-weight: 700;
        margin-bottom: 15px
    }
    .container {
        display: block
    }
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 3.125rem;
        line-height: 1.2
    }
}

@media only screen and (max-width: 480px) {
    .h1, h1 {
        font-size: 3.125rem
    }
    .h2, h2 {
        font-size: 2.5rem
    }
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Semibold.ttf) format('ttf'), url(../fonts/Gilroy-Semibold.woff2) format('woff2'), url(../fonts/Gilroy-Semibold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Bold.ttf) format('ttf'), url(../fonts/Gilroy-Bold.woff2) format('woff2'), url(../fonts/Gilroy-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Black.ttf) format('ttf'), url(../fonts/Gilroy-Black.woff2) format('woff2'), url(../fonts/Gilroy-Black.woff) format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Helvetica;
    src: url(../fonts/HelveticaNeueCyr-Bold.ttf) format('ttf'), url(../fonts/HelveticaNeueCyr-Bold.woff2) format('woff2'), url(../fonts/HelveticaNeueCyr-Bold.eot) format('eot'), url(../fonts/HelveticaNeueCyr-Bold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    color: #0E2766;
    font-family: Gilroy;
    font-weight: 600
}

body, html {
    width: 100%;
    height: 100%;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #44566C;
    position: relative;
    margin: 0;
    padding: 0
}

body.slider-mode, html.slider-mode {
    overflow: hidden
}

body.hidden, html.hidden {
    overflow: hidden;
    height: 100vh
}

.wrapper {
    min-height: 100vh;
    position: relative;
    overflow: hidden
}

.wrapper.wrapper-blured {
    -webkit-filter: blur(9px);
    filter: blur(9px);
    height: 100%;
    overflow: hidden
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px
}

@media only screen and (max-width: 1120px) {
    .container {
        height: auto
    }
}

.main_section {
    background-color: #0E2766
}

.main_section-description {
    width: 53.3%;
    min-width: 710px;
    font-size: 1.625rem;
    line-height: 1.23076923;
    padding: 115px 75px 124px 140px
}

.main_section .main_section-text {
    margin-top: 30px;
    margin-bottom: 70px
}

.main_section-event_info {
    width: 100%;
    font-size: 1.25rem;
    color: #fff;
    margin-left: 35px
}

.main_section-event_info table {
    color: #fff;
    width: 100%;
    border-collapse: separate
}

.main_section-event_info td {
    color: #fff;
    padding: 0 15px;
    line-height: 50px;
    vertical-align: middle
}

.main_section-event_info td:not(:last-child) {
    border-right: 2px solid #fff
}

.main_section-event_info td img {
    margin-top: 15px;
    display: inline-block;
    vertical-align: top
}

.main_section-event_info tr:first-child td {
    border-top: 2px solid #fff
}

.main_section-event_info tr:first-child td:first-child {
    border-left: 2px solid #fff;
    border-top-left-radius: 4px
}

.main_section-event_info tr:first-child td:last-child {
    border-right: 2px solid #fff;
    border-top-right-radius: 4px
}

.main_section-event_info tr:last-child td:first-child {
    border-left: 2px solid #fff;
    border-bottom-left-radius: 4px
}

.main_section-event_info tr:last-child td:last-child {
    border-right: 2px solid #fff;
    border-bottom-right-radius: 4px
}

.main_section-image {
    width: 46.7%;
    background: url(../img/marathon/Main_Banner.jpg) no-repeat;
    background-size: cover
}

.main_section-image img {
    display: block;
    width: 100%;
    height: 100%
}

.main_section .participate {
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    align-items: flex-end;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between
}

@media (max-width: 1000px) {
    .main_section {
        position: relative;
        background-color: rgba(14, 39, 102, .8)
    }
    .main_section-description {
        width: 100%;
        min-width: unset;
        padding: 50px 20px
    }
    .main_section-image {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        width: 100%
    }
}

@media only screen and (max-width: 640px) {
    .main_section-description {
        font-size: 1.25rem;
        line-height: 1.1
    }
    .main_section .participate {
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column
    }
    .main_section .participate .btn {
        width: 100%;
        margin-bottom: 20px
    }
}

.release_info {
    color: #fff;
    background-color: #ff9500;
    padding: 45px 0
}

.release_info-block {
    width: 50%
}

.release_info-block:first-child {
    margin-right: 20px
}

.release_info-block:last-child {
    margin-left: 20px
}

.release_info-icon {
    min-width: 117px;
    height: 117px;
    margin-right: 20px
}

.release_info-icon img {
    width: 100%;
    height: 100%
}

@media (max-width: 1000px) {
    .release_info-items {
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column
    }
    .release_info-block {
        width: 100%;
        margin-bottom: 20px
    }
    .release_info-block:last-child {
        margin-left: 0
    }
}

@media only screen and (max-width: 640px) {
    .release_info-icon {
        width: 70px;
        height: 70px
    }
}

@media only screen and (max-width: 400px) {
    .release_info-block {
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column
    }
    .release_info-icon {
        margin: auto
    }
}

.my_beliefs {
    padding: 85px 0 0
}

.main_target {
    padding-top: 65px
}

.main_target-block {
    width: 33.33%;
    padding: 0 6%;
    margin-top: 70px
}

.main_target-block img {
    width: 121px;
    height: 121px;
    margin-bottom: 25px
}

@media only screen and (max-width: 640px) {
    .main_target-block {
        width: 50%;
        margin-top: 20px
    }
}

@media only screen and (max-width: 400px) {
    .main_target-block {
        width: 100%;
        -webkit-align-items: center;
        -moz-box-align: center;
        align-items: center
    }
}

.about {
    background-color: #E4E4E4
}

.about-block:first-child {
    width: 35%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-grow: 0;
    -moz-box-flex: 0;
    flex-grow: 0;
    display: flex;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    align-items: flex-end
}

.about-block:first-child img {
    width: 100%
}

.about-block:last-child {
    padding: 85px 0 85px 50px
}

.about-block-insta_string {
    margin-top: 10px;
    margin-bottom: 20px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    text-decoration: none
}

.about-block-insta_string:hover {
    text-decoration: underline
}

.about-block-insta_string img {
    margin-right: 10px
}

@media only screen and (max-width: 768px) {
    .about-block:first-child {
        min-width: 150px
    }
    .about-block:last-child {
        padding: 55px 0 0
    }
    .about-content {
        -webkit-flex-direction: column-reverse;
        -moz-box-orient: vertical;
        -moz-box-direction: reverse;
        flex-direction: column-reverse;
        -webkit-align-items: center;
        -moz-box-align: center;
        align-items: center
    }
}

.after_marathon {
    padding-top: 80px
}

.after_marathon-block {
    width: 50%;
    padding-right: 9%
}

.after_marathon ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.after_marathon ul li {
    display: block;
    padding-left: 50px;
    position: relative;
    font-weight: 700;
    margin-bottom: 25px;
    font-family: Helvetica
}

.after_marathon ul li:before {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    background: url(../img/marathon/12_Plus.svg);
    left: 0;
    top: 0
}

@media only screen and (max-width: 640px) {
    .after_marathon-decisions {
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column
    }
    .after_marathon-block {
        width: 100%
    }
}

.tasks {
    padding-top: 75px;
    padding-bottom: 100px
}

.tasks-item {
    width: 100%;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center
}

.tasks-item .tasks-item_title {
    background-color: #ff9500;
    text-align: right;
    font-size: 3.625rem;
    height: 350px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    font-family: Helvetica;
    line-height: 60px;
    padding: 40px
}

.tasks-item .tasks-item_title .num {
    font-size: 6.3125rem;
    line-height: 1
}

.tasks-item:nth-child(odd) {
    -webkit-flex-direction: row-reverse;
    -moz-box-orient: horizontal;
    -moz-box-direction: reverse;
    flex-direction: row-reverse
}

.tasks-item:nth-child(odd) .tasks-item_title {
    background-color: #0E2766;
    text-align: left;
    color: #fff
}

.tasks-item:nth-child(odd) .tasks-item_title .num {
    color: #fff
}

.tasks-item_block {
    width: 50%;
    padding: 40px;
    margin-bottom: 0
}

.tasks ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.tasks ul li {
    padding-left: 20px;
    position: relative
}

.tasks ul li:before {
    content: '-';
    position: absolute;
    left: 0
}

.tasks ul li:not(:last-child) {
    margin-bottom: 15px
}

@media (max-width: 1100px) {
    .tasks-item {
        background-color: #ff9500
    }
    .tasks-item:nth-child(odd) {
        background-color: #0E2766
    }
    .tasks-item .tasks-item_title {
        font-size: 2.5rem;
        height: 100%;
        min-height: 350px;
        padding: 30px
    }
    .tasks-item .tasks-item_description {
        background-color: #fff;
        min-height: 350px
    }
}

@media only screen and (max-width: 768px) {
    .tasks-item, .tasks-item:nth-child(odd) {
        -moz-box-orient: vertical;
        -moz-box-direction: normal
    }
    .tasks-item {
        background-color: unset;
        -webkit-flex-direction: column;
        flex-direction: column
    }
    .tasks-item .tasks-item_block {
        width: 100%;
        min-height: unset
    }
    .tasks-item:nth-child(odd) {
        -webkit-flex-direction: column;
        flex-direction: column
    }
}

@media only screen and (max-width: 480px) {
    .tasks-item .tasks-item_title {
        font-size: 1.5625rem;
        line-height: 1
    }
    .tasks-item .tasks-item_title .num {
        font-size: 3.125rem
    }
    .tasks-item .tasks-item_description {
        padding-left: 0;
        padding-right: 0
    }
}

.price {
    background-color: #ff9500;
    padding: 75px 0
}

.price .flex {
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between
}

.price .flex > div {
    width: 36%
}

.price .flex .price_block {
    width: 62%
}

.price table td, .price table tr {
    border-color: #0E2766 !important;
    color: #0E2766 !important
}

.price_block table td, .price_block table tr {
    line-height: 20px;
    font-size: 1.375rem;
    text-align: center
}

.price_block table td {
    padding: 20px 20px 15px
}

.price_block table .cost {
    font-size: 2.375rem;
    line-height: 1;
    white-space: nowrap;
    margin-bottom: 20px
}

.price_block table .t-head {
    font-size: 2.5rem;
    line-height: 1
}

@media (max-width: 860px) {
    .price {
        padding: 50px 0 30px
    }
    .price .flex {
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column
    }
    .price .flex > div {
        width: 100%;
        margin: 0 0 20px
    }
    .price .flex .price_block {
        width: 100%
    }
}

@media only screen and (max-width: 640px) {
    .price_block table td, .price_block table tr {
        line-height: 1;
        font-size: 1.125rem
    }
    .price_block table .cost {
        font-size: 1.25rem;
        margin-bottom: 10px
    }
    .price_block table .t-head {
        font-size: 1.3125rem
    }
}

.register {
    color: #fff;
    background-color: #0E2766;
    padding: 75px 0
}

.register-questions {
    font-size: 1.1875rem
}

.register .usual_link {
    text-decoration: none
}

.register .usual_link:hover {
    text-decoration: underline
}

.register-text_block {
    width: 49%
}

.register-rorm_block {
    width: 51%
}

@media (max-width: 700px) {
    .register-container {
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column
    }
    .register-text_block {
        width: 100%;
        margin-bottom: 20px
    }
    .register-rorm_block {
        width: 100%
    }
}

.radio_block span.wpcf7-list-item {
    position: relative;
}
.radio_block span.wpcf7-list-item-label {
    color: #ffffff;
    position: relative;
}
.radio_block input[type="radio"] {
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.radio_block input[type="radio"] + span.wpcf7-list-item-label::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    position: absolute;
    border-radius: 50%;
    left: 0;
}
.radio_block input[type="radio"]:checked+span.wpcf7-list-item-label::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50%;
    left: 4px;
    top: 4px;
    background-color: #fff;
}
.radio_block .wpcf7-form-control {
    display: flex;
    flex-flow: column;
}
.radio_block .wpcf7-list-item + .wpcf7-list-item {
    margin-top: 13px;
}
.radio_block .wpcf7-list-item .wpcf7-list-item-label {
    font-size: 18px;
    padding-left: 33px;
}
.form .wpcf7-submit {
    margin-top: 10px;
}
.form .wpcf7-not-valid-tip {
    position: relative;
    font-size: 14px;
    bottom: 0;
    margin: -10px 0 10px;
}
#register .wpcf7 form.invalid .wpcf7-response-output,
#register .wpcf7 form.unaccepted .wpcf7-response-output {
    font-size: 16px;
    bottom: -2rem;
}



/* New Styles =============================================== */

.marathon-who ul li::before {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 5px;
    background: url(../img/marathon/icon-minus.svg);
    left: 0;
    top: 7px;
}

.price_block.main_section-event_info td {
    vertical-align: top;
}

@media (max-width: 1600px) {
    .price_block table .cost {
        font-size: 1.7rem;
    }

    .price_block table td, .price_block table tr {
        font-size: 1.2rem;
    }
}

@media (max-width: 1280px) {
    .price_block table .cost {
        font-size: 1.4rem;
    }

    .price_block table td, .price_block table tr {
        font-size: 1.1rem;
    }
}

@media (min-width: 861px) and (max-width: 1000px) {
    .price .flex {
        flex-direction: column;
    }

    .price .flex .price_block {
        width: 100%;
    }

    .price .flex > div {
        width: 100%;
        margin: 0 0 20px;
    }
}

@media (max-width: 630px) {
    .price_block table td, .price_block table tr {
        display: block;
    }

    .price_block table td {
        padding: 10px 10px 7px;
    }

    .price_block.main_section-event_info td {
        border-left: 2px solid #fff;
    }

    .price_block.main_section-event_info tr:last-child td:last-child {
        border-bottom-left-radius: 4px;
    }

    .price_block.main_section-event_info tr:last-child td:first-child {
        border-radius: 0;
    }
} 