@media (min-width: 1921px) {
    .container {
        max-width: 131rem;
    }
    .container--process-candidates {
        max-width: 111.6rem;
    }

    section.send-cv,
    section.referral-program{
        min-height: calc(100vh - 21.2rem);
    }
    .header__menu {
        padding-top: 10rem;
    }
    .header__menu-close {
        top: 10rem;
        right: calc(50% - 65rem);
    }

    .header__menu-list a {
        font-size: 5rem;
    }
    .header__social-list {
        padding-top: 3.6rem;
    }
    .header__social-item {
        font-size: 2.7rem;
    }
    .main-sub-title {
        padding-top: 20px;
    }
}

@media (min-width: 1800px) {
    .header__menu-list {
        max-width: 131rem;
        width: 100%;
        margin: 0 auto;
    }

    .header__social-list {
        position: relative;
        max-width: 131rem;
        width: 100%;
        margin: 0 auto;
        border: none;

        &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            width: 66.5rem;
            height: 1px;
            background-color: rgba(14, 39, 102, 0.5);
        }
    }

    .header__logo-mobile-wrap {
        max-width: 131rem;
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 1600px) {
    .intro-block {
        background-position: 0% 0%;
    }
}

@media (max-width: 1446px) {
    html {
        font-size: 9px;
    }

    .header__menu-list a {
        font-size: 3.8rem;
    }

    .header__menu {
        padding-top: 6rem;
    }
    .header__menu-close {
        top: 6rem;
    }
}

@media (max-width: 1220px) {
    

    .form-info__field textarea {
        height: 27px;
    }
}

@media (max-width: 1120px) {
    html {
        font-size: 8px;
    }

    .process .slick-dots li {
        height: 20px;
    }

    .form-info__field textarea {
        height: 25px;
    }

    .posts-inner__search-btn {
        width: 20px;
        height: 20px;
    }

    .posts-inner__search-btn::before {
        width: 20px;
        height: 20px;
    }
}