.services-content {
    padding: 6.5rem 0;

}
.services-title {
    font-size: 4.3rem;
    font-weight: 700;
    line-height: 1.15;
    color: #0e2766;
    @media (max-width: 767px) {
        font-size: 3.4rem;
    }
}
.service-items {
    margin: 5rem 0 0;
}
.service-item {
    position: relative;
    padding: 4rem 0 4rem 29rem;
    border-top: 1px solid #0e2766;
    @media (max-width: 767px) {
        padding: 3rem 0 3rem 20rem;
    }
    @media (max-width: 480px) {
        padding: 3rem 0 3rem 10rem;
    }
    &:first-child {
        border-top: none;
    }
    &__title {
        font-size: 4.3rem;
        font-weight: 700;
        line-height: 1.15;
        color: #0e2766;
        @media (max-width: 767px) {
            font-size: 3.4rem;
        }
        @media (max-width: 480px) {
            font-size: 2.6rem;
        }
    }
    &__icon {
        position: absolute;
        top: 50%;
        left: 14.5rem;
        transform: translate(-50%, -50%);
        @media (max-width: 767px) {
            left: 10rem;
        }
        @media (max-width: 480px) {
            left: 5rem;
            top: 4rem;
            transform: translate(-50%, 0);
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            max-width: 11rem;
            max-height: 11rem;
            @media (max-width: 767px) {
                max-width: 8rem;
                max-height: 8rem;
            }
            @media (max-width: 480px) {
                max-width: 6rem;
                max-height: 6rem;
            }
        }
    }
    &__description {
        margin: 2rem 0 0;
        font-size: 2rem;
        line-height: 1.5;
        @media (max-width: 480px) {
            font-size: 1.8rem;
            margin: 1.5rem 0 0;
        }
        .price {
            padding: 0;
            background: none;
            font-weight: 700;
            font-size: 2.1rem;
            @media (max-width: 480px) {
                font-size: 1.8rem;
            }
        }
        p {
            margin: 1em 0;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}



.services-form-info {
    .form-info__title {
        margin-bottom: 0.5rem;
    }

    .wpcf7 {
        .wpcf7-select {
            display: block;
            height: 30px;
            width: 100%;
            font-size: 1.9rem;
            padding-right: 20px;
            border: none;
            border-bottom: 1px solid rgba(14, 39, 102, 0.5);
            padding-bottom: 7px;
            background: none;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            text-overflow: ellipsis;
            cursor: pointer;
            color: rgba(14, 39, 102, 0.4);
            transition: all 0.25s ease;
            &.selected {
                color: #0E2766;
            }
        }

        .form-info__field.field-select {
            .wpcf7-form-control-wrap {
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(0, -90%) rotate(45deg);
                    width: 11px;
                    height: 11px;
                    border-right: 1px solid #0e2766;
                    border-bottom: 1px solid #0e2766;
                    pointer-events: none;
                    transition: all 0.25s ease;
                }
                @media (min-width: 1025px) {
                    &:hover {
                        &:before {
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
}