@import "normalize";
@import "variables";
@import "slick";
@import "fancybox";
@import "animate";
@import "page-services"; // page added 21.01.2021

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.eot');
    src: url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Black.woff2') format('woff2'),
        url('../fonts/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Thin.eot');
    src: url('../fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Thin.woff2') format('woff2'),
        url('../fonts/Gilroy-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}


html {
    font-size: 10px;
}


img {
    max-width: 100%;
    height: auto;
}

.overflowHidden {
  overflow: hidden;
} 

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.container-big {
    max-width: 131rem;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container {
  max-width: 111.6rem;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.intro-block {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    position: relative;
    padding-top: 2.5rem;

    .container-big {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn-main {
        max-width: none;
        width: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
}
.header--fixed {
    position: fixed;
    z-index: 1000 !important;
    top: 0;
    left: 0;
    width: 100%;
    background: #0E2766;
    padding: 1.5rem 0 1.5rem;
}

.header__burger {
    max-width: 4.4rem;
    min-width: 4.4rem;
    width: 100%;
    background-color: transparent;
    transition: all .3s;
    margin-right: 30px;

    &:hover {
        opacity: .7;
    }
}

.header__logo {
    max-width: 13.6rem;
    width: 100%;
}
@media (min-width: 551px) {
    html[lang="ru-RU"] {
        .header__logo {
            margin-right: -8rem;
        }
    }
}


.btn-main {
    display: inline-block;
    // max-width: 18.4rem;
    // width: 100%;
    max-width: none;
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #FF9500;
    border-radius: 3px;
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
    line-height: 5.6rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .3s;

    &:hover {
        background-color: #0E2766;
    }
}

.intro {
    padding-top: 15.5rem;
    padding-bottom: 17.5rem;

    h1 {
        font-size: 10.2rem;
        line-height: 11.4rem;
        color: #fff;
        font-weight: 300;

        span {
            display: block;
            color: #FF9500;
            font-weight: 900;
            padding-top: 2rem;
        }
    }

    p {
        font-size: 2rem;
        line-height: 3.3rem;
        color: #fff;
        max-width: 65.6rem;
        width: 100%;
        padding-top: 3.2rem;
    }
}

.intro--inner {
    padding-bottom: 7.4rem;

    h1 {
        font-size: 9.2rem;
        line-height: 11rem;

        span {
            padding-top: 0;
        }
    }
}
.intro-title {
    font-size: 10.2rem;
    line-height: 11.4rem;
    color: #fff;
    font-weight: 300;

    span {
        display: block;
        color: #FF9500;
        font-weight: 900;
        padding-top: 2rem;
    }
}
.intro-title-slider {
    display: block;
    color: #FF9500;
    font-weight: 900;
    padding-top: 2rem;
}

.approach {
    background-color: rgba(115,115,115,0.14);
    padding-top: 8rem;
    padding-bottom: 7rem;

    p {
        font-size: 2rem;
        line-height: 3.3rem;
        color: #0E2766;
        padding-bottom: 3rem;
    }
}

.link-to {
    display: inline-block;
    position: relative;
    font-size: 2.6rem;
    color: #0E2766;
    font-weight: 700;
    padding-left: 6rem;
    transition: all .3s;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -5px;
        background-image: url("../img/rm.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 4.5rem;
        height: 3.8rem;
        transition: all .3s;
        opacity: 1;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: -5px;
        background-image: url("../img/rm-h.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 4.5rem;
        height: 3.8rem;
        transition: all .3s;
        opacity: 0;
    }

    &:hover {
        color: #FF9500;
        
        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 1;
        }
    }
}

.process {
    padding-top: 10rem;
    padding-bottom: 9.5rem;

    .slick-dots {
        position: absolute;
        left: 13rem;
        top: 3rem;
        display: flex !important;
        flex-direction: column;
    }

    .slick-dots li {
        width: 8.3rem;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        &.slick-active {
            button {
                width: 22rem;
            }
        }
    }

    .slick-dots button {
        width: 8.3rem;
        height: 4px;
        border-radius: 0;
        background-color: #0E2766;
        transition: all 0.5s ease-in-out;
    }

    .slick-dots .slick-active button {
        background-color: #FF9500;
    }
}

.process__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1rem;
}

.process__slider {
    max-width: 80.4rem;
    width: 100%;
    padding-left: 29rem;
    margin-top: 6.5rem;
}

.process__loader {
    position: relative;
    max-width: 18.5rem;
    width: 100%;
    svg {
        display: block;
        width: 100%;
        height: auto;
        path {
            fill: none;
            stroke-width: 4px;
        }
    }

    .process-slider__svg {
        path {
            stroke: #FF9500;
        }
        &.active {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            path {
                stroke: #0e2766;
            }
        }
    }
}

.process__slide-item {
    max-width: 50.2rem;
    width: 100%;

    h4 {
        font-size: 4.3rem;
        line-height: 5.5rem;
        font-weight: 700;
        color: #0E2766;
        padding-bottom: 3rem;
    }

    p {
        font-size: 2rem;
        line-height: 3.1rem;
        color: #0E2766;
        font-weight: 500;
    }
}

.main-title {
    
    font-size: 5.6rem;
    line-height: 7.3rem;
    color: #0E2766;
    font-weight: 900;
    text-transform: uppercase;
}

.main-title--center {
    text-align: center;
}

.main-sub-title {
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
    color: #0E2766;
    padding-top: 5px;
}

.main-sub-title--center {
    text-align: center;
}

.looking__list {
    display: flex;
}

.looking__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-top: 12rem;
    padding-bottom: 18.5rem;
    background-color: rgba(115,115,115,0.14);

    .btn-main {
        position: relative;
    }

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 10rem;
        background-image: url("../img/po.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 5.2rem;
        height: 5.2rem;
        opacity: 1;
        transition: all .3s;
    }

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 10rem;
        background-image: url("../img/rm-h.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 5.7rem;
        height: 5rem;
        opacity: 0;
        transition: all .3s;
    }

    &:hover {

        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 1;
        }

        .looking__hover-img {
            opacity: 1;
        }

        .looking__item-text {
            color: #fff;
        }

        .looking__item-title {
            color: #fff;
        }
    }
}

.looking__hover-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s;
    opacity: 0;
}

.looking__item-text {
    position: relative;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    color: #0E2766;
    text-transform: uppercase;
    padding-bottom: 2rem;
    z-index: 2;
    transition: all .3s;
}

.looking__item-title {
    position: relative;
    
    font-size: 6.7rem;
    line-height: 7.7rem;
    color: #0E2766;
    font-weight: 900;
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
    transition: all .3s;
}

.benefits {
    overflow: hidden;
    padding-top: 13.2rem;
}

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 5.1rem;
}

.benefits__item-wrap {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;

    &:nth-child(even) {
        
        .benefits__item-img {
            right: -4rem;
            left: auto;
        }

        .benefits__item {
            padding-left: 3.6rem;
            padding-right: 11.5rem;
        }
    }

    &:last-child {

        .benefits__item {
            padding-right: 3.6rem;
            align-items: flex-start;
        }
    }
}

.benefits__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(115,115,115,0.14);
    height: 23.6rem;
    padding-left: 11.5rem;
    padding-right: 3.6rem;

    p {
        max-width: 39.5rem;
        width: 100%;
        font-size: 2.2rem;
        line-height: 3.3rem;
        color: #0E2766;
        font-weight: 500;
    }

    h4 {
        font-size: 4.9rem;
        line-height: 5.2rem;
        color: #0E2766;
        font-weight: 700;
        max-width: 33.6rem;
        width: 100%;
        padding-bottom: 2rem;
    }
}

.benefits__item-img {
    position: absolute;
    left: -5.5rem;
    top: 50%;
    transform: translate(0, -50%);
    max-width: 17rem;
    width: 100%;
}

.trusted {
    padding-top: 10.4rem;
    padding-bottom: 8rem;
}

.trusted__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 5.7rem;
}

.trusted__item-wrap {
    flex: 0 0 16.666%;
    max-width: 16.666%;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
}

.trusted__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 13rem;
    margin: 0 auto;
    width: 100%;
    height: 11rem;
    // border: 1px solid rgba(0,0,0,0.4);
}

.form-info {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 15rem;
    padding-bottom: 10rem;
}

.form-info__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-info__title-content {
    max-width: 37rem;
    width: 100%;
    margin-right: 30px;

    p {
        
        font-size: 1.9rem;
        line-height: 2.8rem;
        color: #0E2766;
        font-weight: 500;
    }
}

.form-info__title {
    
    font-size: 5.9rem;
    line-height: 7.3rem;
    color: #0E2766;
    font-weight: 900;
    padding-bottom: 1.3rem;
}

.form-info__form {
    max-width: 66.4rem;
    width: 100%;

    .btn-main {
        font-size: 1.6rem;
        margin-top: 2rem;
        
    }
}

.form-info__cols {
    display: flex;
    justify-content: space-between;

    .form-info__field {
        max-width: 30.8rem;
        width: 100%;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.form-info__field {
    position: relative;
    width: 100%;
    padding-bottom: 3.8rem;

    label {
        display: inline-block;
        font-size: 2.6rem;
        color: #0E2766;
        font-weight: 500;
        padding-bottom: 1.6rem;
    }

    input {
        display: block;
        width: 100%;
        font-size: 1.9rem;
        color: #0E2766;
        border-bottom: 1px solid rgba(14, 39, 102, 0.5);
        padding-bottom: 7px;
        background-color: transparent;

        &::placeholder {
            opacity: 0.4;
            color: #0E2766;
        }
    }

    textarea {
        display: block;
        width: 100%;
        font-size: 1.9rem;
        color: #0E2766;
        border: none;
        border-bottom: 1px solid rgba(14, 39, 102, 0.5);
        padding-bottom: 7px;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        resize: none;
        outline: none;
        height: 2.9rem;
        overflow: hidden;
        background-color: transparent;

        &::placeholder {
            opacity: 0.4;
            color: #0E2766;
        }
    }
}

.footer {
    background-color: #0E2766;
    padding-top: 2.8rem;
    padding-bottom: 2.5rem;

    .container-big {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.footer__copyright {
    max-width: 26.2rem;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #fff;
    font-weight: 300;

    span {
        color: rgba(255,255,255,0.5);
    }
}

.footer__socials {
    display: flex;
    margin-left: -10rem;
}

.footer__social-item {
    
    font-size: 2rem;
    font-weight: 700;
    color: rgba(255,255,255,0.7);
    margin-right: 5.2rem;
    transition: all .3s;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: rgba(255,255,255,1);
    }
}

.footer__design {
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #fff;
    font-weight: 300;

    a {
        color: #fff;
        transition: all .3s;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid #fff;
        }
    }
}

.header__menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  box-sizing: border-box;
  z-index: 9999;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
  transform: translate(0, 0%);
  background-color: #fff;
  padding-bottom: 30px;
  padding-left: 21rem;
  padding-right: 21rem;
  align-items: flex-start;
  transition: transform 0.4s ease; 
}

.header__menu.active {
  transform: translate(100%, 0%);
  transition: transform 0.4s ease; 
 }

.header__menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__menu-list li {
    line-height: .95;
    padding-bottom: 1.4rem;
}

.header__menu-list a {
  font-size: 4.3rem;
  color : #0E2766;
  font-weight: 700;
  transition: all .3s;

  &:hover {
    color: #FF9500;
  }

  &.active {
    color: rgba(72,77,89,0.28)
  }
}

.header .current-menu-item a {
    color: rgba(72,77,89,0.28)
}

.header__menu-close {
    position: absolute;
    top: 4rem;
    right: 4rem;
    width: 2.3rem;
    background-color: transparent;
    transition: all .3s;

    &:hover {
        opacity: .7;
    }
}

.header__social-list {
    display: flex;
    border-top: 1px solid rgba(14, 39, 102, 0.5);
    padding-top: 2.6rem;
    margin-top: 2.2rem;
}

.header__social-item {
    display: inline-block;
    font-size: 2.5rem;
    color : #0E2766;
    font-weight: 500;
    margin-right: 5.8rem;
    transition: all .3s;

    &:hover {
        color: #FF9500;
    }
}

.btn-main--mobile {
    display: none;
}

.who-we-are {
    padding-top: 8.5rem;
    padding-bottom: 9rem;
}

.who-we-are__content {
    display: flex;
    justify-content: space-between;
    padding-top: 2.4rem;

    ul {
        max-width: 60.8rem;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            position: relative;
            font-size: 1.9rem;
            line-height: 2.7rem;
            font-weight: 400;
            color: #0E2766;
            padding-left: 3rem;
            padding-bottom: 1.5rem;

            &::before {
                content: "•";
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}   

.who-we-are__info {
    margin-right: 30px;
    max-width: 54.3rem;
    width: 100%;

    strong {
        display: block;
        
        font-size: 2.2rem;
        line-height: 2.9rem;
        font-weight: 700;
        color: #0E2766;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    p {
        font-size: 2rem;
        line-height: 2.8rem;
        font-weight: 400;
        color: #0E2766;
    }
}

.who-we-are__info-img {
    max-width: 48.9rem;
    margin-top: 5px;
}

.services {
    padding-bottom: 2.4rem;
}

.services__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 9rem;
}

.services__item-wrap {
    width: 50%;
    padding-bottom: 6rem;
}

.services__item {
    display: flex;
    align-items: center;
    max-width: 50rem;
    width: 100%;

    p {
        font-size: 2.2rem;
        line-height: 2.9rem;
        color : #0E2766;
        font-weight: 700;
    }
}

.services__item-img {
    max-width: 9.5rem;
    min-width: 9.5rem;
    width: 100%;
    margin-right: 2.7rem;
}

.network {
    background-color: #F0F0F0;
    padding-top: 9rem;
    padding-bottom: 6.6rem;
}

.network__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
    padding-top: 6rem;
    padding-bottom: 5.7rem;
}

.network__item-wrap {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 12px;
}

.network__item {
    position: relative;
    display: block;
    width: 100%;
    background-color: #fff;
    min-height: 17.4rem;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
    padding-top: 2.8rem;
    padding-bottom: 2.4rem;
    transition: all .3s;
    box-shadow: 3px 3px 50px 9px rgba(0,0,0,0.05);

    &::before {
        content: "";
        position: absolute;
        right: 2.4rem;
        top: 50%;
        transform: translate(0, -50%);
        background-image: url('../img/rm-h.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 6rem;
        height: 5.4rem;
    }

    &:hover {
        background-color: #0E2766;

        h4 {
            color: #fff;
        }

        .network__location {
            color: #fff;

            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }

        .network__note {
            color: #fff;
        }
    }

    h4 {
        display: block;
        max-width: 33rem;
        width: 100%;
        font-size: 3.1rem;
        line-height: 3.7rem;
        color: #0E2766;
        min-height: 7.4rem;
        margin-bottom: 2rem;
        transition: all .3s;
    }
}

.network__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.network__location {
    position: relative;
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color: #0E2766;
    padding-left: 2.8rem;
    max-width: 28rem;
    width: 100%;
    margin-right: 20px;
    transition: all .3s;

    &::before {
        content: "";
        position: absolute;
        background-image: url("../img/geo.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 1.6rem;
        height: 2.3rem;
        left: 0;
        top: 0;
        opacity: 1;
        transition: all .3s;
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url("../img/geo-h.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 1.6rem;
        height: 2.3rem;
        left: 0;
        top: 0;
        transition: all .3s;
        opacity: 0;
    }
}

.network__note {
    display: block;
    font-size: 2.3rem;
    font-weight: 500;
    color: transparent;
    opacity: .36;
    transition: all .3s;
}

.main-title-h3 {
    font-size: 4.9rem;
    color : #0E2766;
    padding-bottom: 2.1rem;
}

.main-title-h3--center {
    text-align: center;
}

.network__brief-description {
    font-size: 1.9rem;
    line-height: 3.1rem;
    font-weight: 500;
    color : #0E2766;
    max-width: 87rem;
    width: 100%;
    padding-bottom: 3rem;
}

.posts-inner {
    padding-bottom: 6.4rem;
}

.posts__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
    padding-top: 6.5rem;
}

.posts__item-wrap {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 12px;
}

.posts__item {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
    padding-bottom: 4.4rem;
    transition: all .3s;

    &:hover {
        background-color: #0E2766;

        .posts__item-info {

            h4 {
                color: #fff;
            }

            p {
                color: #fff;
            }
        }

        .posts__item-arrow-text {
            color: #CBCCD0;
        }
    }
}

.posts__item-img {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 23.3rem;
}

.posts__category {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #FF9500;
    min-width: 10.6rem;
    line-height: 3.2rem;
    text-align: center;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 2px;
}

.posts__item-info {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    padding-top: 2.3rem;
    padding-bottom: 1.3rem;

    h4 {
        font-size: 2.8rem;
        line-height: 3.3rem;
        color: #0E2766;
        transition: all .3s;
        padding-bottom: 2.7rem;
        transition: all .3s;
        word-break: break-word;
    }

    p {
        font-size: 1.8rem;
        line-height: 2.6rem;
        color: #0E2766;
        transition: all .3s;
    }
}

.posts__item-arrow-text {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color: transparent;
    margin-right: 1.8rem;
    transition: all .3s;
}

.posts__item-arrow {
    position: absolute;
    width: 100%;
    bottom: 1.3rem;
    right: 2.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
        max-width: 4rem;
    }
    
}

.customers-reviews {
    padding-bottom: 11.5rem;
    padding-top: 8.6rem;
    
    .slider-for {
        // pointer-events: none;
        padding-bottom: 5rem;
    }

    .slider-nav {

        .slick-slide {
            opacity: .35;
            transition: all .3s;

            &:hover {
                opacity: 1;

                .customers-reviews__small-slider-item::before {
                    opacity: 1;
                }
            }
        }

        .slick-current {
            opacity: 1;

            .customers-reviews__small-slider-item::before {
                opacity: 1;
            }
        }
    }
}

.customers-reviews__slider-wrap {
    padding-top: 4.4rem;
}

.customers-reviews__big-slider-item {
    position: relative;
    max-width: 64.3rem;
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;

    &::before {
        content: "";
        position: absolute;
        left: -15rem;
        top: 0;
        background-image: url("../img/quote.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 9.1rem;
        height: 7.7rem;
        z-index: -1;
    }

    p {
        position: relative;
        font-size: 2rem;
        line-height: 3.3rem;
        color: #0E2766;
        padding-bottom: 4rem;
        z-index: 2;
    }
}

.customers-reviews__name {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    color: #0E2766;
    padding-bottom: 2px;
}

.customers-reviews__firm {
    
    display: block;
    font-size: 2.2rem;
    font-weight: 700;
    color: #0E2766;
}

.slider-nav .slick-track {
    align-items: center;
}

.customers-reviews__small-slider-item {
    position: relative;
    cursor: pointer;
    max-width: 15rem;
    margin: 0 auto;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #FF9500;
        left: 0;
        bottom: 0rem;
        opacity: 0;
        transition: all .3s;
    }
}

.customers-reviews__small-slider-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13.5rem;

    img {
        max-width: 15rem;
        max-height: 13.5rem;
    }
}

.help-panel {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #FF9500;
}

.help-panel__content {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
}

.help-panel__title {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 6.4rem;
}

.help-panel__links {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
}

.help-panel__link {
    position: relative;
    display: inline-block;
    font-size: 2.8rem;
    font-weight: 700;
    color: #0E2766;
    margin-right: 7rem;
    transition: all .3s;

    &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 4.1rem;
        right: -3.5rem;
        top: 0;
        background-color: #0E2766;
        pointer-events: none;
    }

    &:last-child {
        margin-right: 0;

        &::before {
            display: none;
        }
    }

    &:hover {
        color: #fff;
    }
}

.process-candidates {
    padding-top: 9rem;
    padding-bottom: 4.5rem;
}

.process-candidates__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10rem;
}

.process-candidates__item-wrap {
    width: 50%;

    &:nth-child(1) {

        .process-candidates__item::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 7.3rem;
            left: 11.5rem;
            bottom: -2.5rem;
            background-color: #FF9500;
            transform: rotate(-45deg);
            border-radius: 25px;
        }
    }

    &:nth-child(2) {

        .process-candidates__item::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 7.3rem;
            left: 11.5rem;
            bottom: -2.5rem;
            background-color: #FF9500;
            transform: rotate(-45deg);
            border-radius: 25px;
        }

        .process-candidates__item::after {
            content: "";
            position: absolute;
            width: 5px;
            height: 7.3rem;
            left: -4rem;
            bottom: -2.5rem;
            background-color: #FF9500;
            transform: rotate(45deg);
            border-radius: 25px;
        }
    }

    &:nth-child(3) {

        .process-candidates__item {
            margin-left: auto;
        }
    }

    &:nth-child(4) {
        
        .process-candidates__item {
            margin-left: auto;
        }
    }
}

.process-candidates__item {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 37.5rem;
    width: 100%;
    padding-bottom: 4.5rem;

    p {
        
        font-size: 2.2rem;
        line-height: 2.9rem;
        font-weight: 700;
        color: #0E2766;
    }
}

.process-candidates__item-img {
    max-width: 8rem;
    min-width: 8rem;
    margin-right: 3.6rem;
}

.network-candidates {
    padding-bottom: 4.5rem;

    .network__list {
        margin-left: 0;
        margin-right: 0;
    }

    .network__item-wrap {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .network__item h4 {
        min-height: 0;
        max-width: 60rem;
    }

    .network__info {
        max-width: 60rem;
    }

    .network__item {
        min-height: 0;
        padding-top: 3.8rem;
        padding-bottom: 3.4rem;
    }

    .network__item:hover {

        .network-candidates__apply {
            color: #fff;
        }
    }
}

.network-candidates__apply {
    position: absolute;
    top: 50%;
    right: 10.5rem;
    transform: translate(0, -50%);
    display: block;
    font-size: 2.3rem;
    font-weight: 500;
    opacity: .36;
    color: transparent;
    transition: all .3s;
}

.looking-candidates {
    margin-bottom: 8.3rem;
    box-shadow: 3px 3px 50px 9px rgba(0, 0, 0, 0.05);

    .looking__item::before {
        display: none;
    }

    .looking__item::after {
        display: none;
    }

    .looking__item-text {
        padding-bottom: 1.5rem;
    }

    .looking__item-title {
        max-width: 42.5rem;
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    .looking__item {
        padding-bottom: 5.6rem;
        padding-top: 7.7rem;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #fff;

        &:hover {

            .looking__item-description {
                color: #fff;
            }
        }
    }
}

.looking__item-description {
    position: relative;
    font-size: 1.9rem;
    font-weight: 500;
    color: #0E2766;
    padding-bottom: 3rem;
    transition: all .3s;
    text-align: center;
}

.help-panel-candidates {

    .help-panel__title {
        text-align: left;
    }

    .help-panel__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: none;
    }
}

.help-panel__info {
    max-width: 57.6rem;
    width: 100%;
    margin-right: 30px;

    p {
        font-size: 2rem;
        line-height: 2.6rem;
        color: #fff;
        font-weight: 500;
        padding-top: 2.2rem;
    }
}

.help-panel__btns {
    max-width: 39rem;
    width: 100%;
}

.help-panel__btn {
    display: block;
    max-width: 39rem;
    width: 100%;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
    border: 3px solid #fff;
    border-radius: 3px;
    transition: all .3s;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        line-height: 2.7rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        min-height: 5.4rem;
        transition: all .3s;
    }

    &:hover {
        background-color: #fff;

        span {
            color: #FF9500;
        }
    }
}

.help-panel__btn-text {
    display: block;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

.intro--inner-small {
    padding-bottom: 3.4rem;
    padding-top: 10rem;

    h1 {
        font-size: 10.2rem;
    }
}

.header-background {
    background-color: #0E2766;
    padding-bottom: 2.5rem;
}

.main-title--text-normal {
    text-transform: none;
}

.blog-single__main-img {
    width: 100%;
    height: 54rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1.5rem;
}

.blog-single__category-wrap {
    text-align: right;
    padding-top: 1.5rem;
}

.blog-single {
    padding-top: 7rem;
    padding-bottom: 8.6rem;

    .main-title {
        line-height: 6.8rem;
    }

    h2:not(.main-title) {
        font-size: 3.5rem;
        line-height: 1;
        color: #0E2766;
        font-weight: 700;
        padding-bottom: 2.5rem;
        padding-top: 3.5rem;
    }
    h3 {
        font-size: 3.2rem;
        color: #0E2766;
        font-weight: 700;
        padding-bottom: 2.5rem;
        padding-top: 3.5rem;
    }
    h4 {
        font-size: 2.8rem;
        color: #0E2766;
        font-weight: 700;
        padding-bottom: 2.5rem;
        padding-top: 3.5rem;
    }

    p {
        font-size: 1.9rem;
        line-height: 3.1rem;
        font-weight: 500;
        color: #0E2766;
        padding-bottom: 2.8rem;

        strong {
            font-weight: 2rem;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-left: 2.5rem;
        line-height: 1.6;
        font-weight: 500;

        li {
            position: relative;
            font-size: 2rem;
            color: #0E2766;
            padding-left: 1.8rem;
            padding-bottom: 7px;

            &:last-of-type {
                padding-bottom: 2.5rem;
            }

            &::before {
                content: "•";
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    .posts__category {
        position: static;
    }
    .wp-block-coblocks-gallery-carousel {
        margin: 0 0 2.5em;
    }

    .wp-block-gallery {
        margin: 0 0 2.5em;
        min-height: 37rem;
        @media (max-width: 720px) {
            height: auto;
        }
        &.columns-3 {
            .blocks-gallery-item {
                &:nth-child(1) {
                    width: 25%;
                }
                &:nth-child(2) {
                    width: 50%;
                }
                &:nth-child(3) {
                    width: 25%;
                }
                @media (max-width: 720px) {
                    width: 100% !important;
                }
            }
        }
        .blocks-gallery-grid {
            padding: 0;
            list-style: none;
            display: flex;
            margin: 0 -0.5rem;
            @media (max-width: 720px) {
                flex-flow: column;
            }
        }
        .blocks-gallery-item {
            margin: 0;
            padding: 0.5rem;
            list-style: none;
            &:before {
                display: none;
            }
        }
    }
    a {
        color: #0E2766;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

.blog-single__img-list {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 2.8rem;
    margin-bottom: 5rem;
}

.blog-single__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 55rem;
    height: 36.6rem;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.blog-single__articles {
    padding-top: 10rem;
}

.blog-single__articles-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
    padding-top: 1.4rem;
}

.blog-single__articles-item-wrap {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 12px;
}

.blog-single__articles-item {
    position: relative;
    display: block;
    width: 100%;
    background-color: #F0F0F0;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-top: 2.1rem;
    padding-bottom: 2.1rem;
    transition: all .3s;
    text-decoration: none !important;

    &::before {
        content: "";
        position: absolute;
        background-image: url("../img/post-arr.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 4rem;
        height: 3.6rem;
        right: 2.5rem;
        top: 50%;
        transform: translate(0, -50%);
        opacity: 1;
        transition: all .3s;
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url("../img/rm-h.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 4rem;
        height: 3.6rem;
        right: 2.5rem;
        top: 50%;
        transform: translate(0, -50%);
        opacity: 0;
        transition: all .3s;
    }

    h5 {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #0E2766;
        max-width: 39rem;
        transition: all .3s;
    }

    &:hover {
        background-color: #0E2766;

        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 1;
        }

        h5 {
            color: #fff;
        }
    }
}

.posts-inner__nav-panel {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posts-inner__nav-list {
    display: flex;
    pointer-events: all;
    transition: all .3s;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.posts-inner__navigation-item {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #CBCCD0;
    margin-right: 4.2rem;
    transition: all .3s;

    &:hover {
        color: #0E2766;
    }

    &.active {
        color: #0E2766;
    }

    &:last-child {
        margin-right: 0;
    }
}

.posts-categories {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    box-shadow: 3px 3px 50px 9px rgba(0, 0, 0, 0.05);
}

.posts-inner__search-btn {
    position: relative;
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
    transition: all .3s;

    &::before {
        content: "";
        position: absolute;
        background-image: url("../img/lupa.svg");
        width: 2.8rem;
        height: 2.8rem;
        right: 0;
        top: 0;
        background-size: contain;
        background-repeat: no-repeat;
        transition: all .3s;
        opacity: 1;
    }

    // &::after {
    //     content: "";
    //     position: absolute;
    //     background-image: url("../img/lupa-h.svg");
    //     width: 2.8rem;
    //     height: 2.8rem;
    //     right: 0;
    //     top: 0;
    //     background-size: contain;
    //     background-repeat: no-repeat;
    //     opacity: 0;
    //     transition: all .3s;
    // }

    &:hover {

        &::before {
            opacity: 0.7;
        }

        // &::after {
        //     opacity: 1;
        // }
    }
}

.posts-inner__search-field {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 0;
    opacity: 0;
    max-width: 101rem;
    width: 0;
    pointer-events: none;
    transition: all .6s;

    &.active {
        left: 0;
        opacity: 1;
        width: 100%;
        pointer-events: all;
        transition: ease .3s;
    }

    input {
        width: 100%;
        font-size: 2.5rem;
        font-weight: 500;
        font-style: italic;
        text-transform: uppercase;
        color: #CBCCD0;
        border-bottom: 2px solid #CBCCD0;
        padding-bottom: 3px;
        padding-right: 4.5rem;

        &::placeholder {
            color: #CBCCD0;
        }
    }

    .posts-inner__search-submit {
        display: block;
        position: absolute;
        right: 0;
        top: 3px;
        width: 2.2rem;
        background-color: transparent;
        transition: all .3s;

        &:hover {
            opacity: .7;
        }
    }
}

.posts-inner__search-close {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("../img/menu-close.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    transition: all .3s;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

.share__title {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-right: 30px;
}

.share-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.8rem;
    margin-top: 1.7rem;
    border-top: 1px solid rgba(14, 39, 102, 0.7);
}

.fancybox-button--zoom {
    display: none !important;
}

.fancybox-button--play {
    display: none !important;
}

.contacts-inner {
    position: relative;
    
    iframe {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 50%;
    }
}

.contacts-inner__info {
    max-width: 46.7rem;
    width: 100%;
    padding-top: 11rem;
    padding-bottom: 11rem;

    .header__social-item {
        font-size: 2.2rem;
        margin-right: 2.8rem;
        font-weight: 400;
    }

    .header__social-list {
        margin-top: 4.6rem;
    }
}

.contacts-inner__info-item {
    display: flex;
    margin-bottom: 2.9rem;

    img {
        width: 2.2rem;
    }

    p {
        font-size: 2.5rem;
        line-height: 2.6rem;
        font-weight: 400;
        color: #0E2766;
    }

    a {
       font-size: 2.5rem;
       line-height: 2.6rem;
       font-weight: 400;
       color: #0E2766; 
    }
}

.contacts-inner__info-item-img {
    min-width: 2.2rem;
    margin-right: 2rem;
    margin-top: 5px;
}

.contacts-inner__info-item--address {

    img {
        width: 1.8rem;
    }
}

.referral-program {
    padding-top: 8.6rem;
    padding-bottom: 7rem;
}

.referral-program__content {
    padding-bottom: 5rem;
    font-size: 1.9rem;
    line-height: 3.1rem;
    color: #0E2766;
    font-weight: 500;

    b {
        display: block;
        font-size: 2.5rem;
        color: #0E2766;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 3rem;
    }

    p {
        font-size: 1.9rem;
        line-height: 3.1rem;
        color: #0E2766;
        font-weight: 500;
        padding-top: 3rem;
    }
}

.referral-program__info {

    p {
        
        font-size: 2.6rem;
        color: #0E2766;
        font-weight: 500;
        padding-bottom: 5px;
    }

    a {
        
        font-size: 2.6rem;
        font-weight: 500;
        display: inline-block;
        color: #FF9500;
    }
}

.referral-program__info-item {
    display: flex;

    p {
        min-width: 13.5rem;
        margin-right: 1.7rem;
    }
}

.content-cols {
    position: relative;
    overflow: hidden;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        text-align: center;
    }

    .wpcf7 form.sent .wpcf7-response-output {
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        text-align: center;
    }
}

.content-cols__info-content {
    max-width: 68.4rem;
    width: 100%;
    padding-top: 7.5rem;
    padding-bottom: 4rem;
    padding-right: 4.2rem;
    font-size: 1.9rem;
    line-height: 2.7rem;
    font-weight: 500;
    color: #0E2766;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        max-width: 60.8rem;
        width: 100%;

        li {
            position: relative;
            font-size: 1.9rem;
            line-height: 2.7rem;
            font-weight: 500;
            color: #0E2766;
            padding-left: 3rem;
            padding-bottom: 2.5rem;

            &::before {
                content: "•";
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    p {
        margin: 1.25em 0;
    }
}

.content-cols__tag {
    display: block;
    font-size: 2.5rem;
    color: #0E2766;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 3rem;
}

.content-cols__form-content {
    position: relative;
    max-width: 40rem;
    width: 100%;
    background-color: #F0F0F0;
    padding-left: 4.8rem;
    padding-top: 8.5rem;

    &::before {
        content: "";
        position: absolute;
        width: 9999px;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        background-color: #F0F0F0;
    }

    .main-form__field {
        width: 100%;

        input {
            background-color: #fff;
        }
    }

    .main-form {
        max-width: none;
        padding-top: 5.5rem;
    }

    .main-form__label-file {
        background-color: #fff;
    }
}

.main-form {
    max-width: 64rem;
    width: 100%;
    margin: 0 auto;

    .btn-main {
        max-width: 14.8rem;
        margin-top: 4.5rem;
    }
}

.content-cols__form-content-title {
    font-size: 4.3rem;
    line-height: 1.1;
    color: #0E2766;
    font-weight: 700;

}

.main-form__field {
    position: relative;
    margin-bottom: 2.5rem;

    .wpcf7-not-valid-tip {
        bottom: -1.7rem;
    }

    input {
        width: 100%;
        height: 5.6rem;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 2rem;
        color: #0E2766;
        font-weight: 700;
        border-radius: 4px;
        background-color: #F0F0F0;

        &::placeholder {
            opacity: 1;
            color: #0E2766;
        }
    }

    textarea {
        width: 100%;
        height: 20.6rem;
        padding: 15px;
        font-size: 2rem;
        line-height: 3.1rem;
        color: #0E2766;
        font-weight: 700;
        border-radius: 4px;
        background-color: #F0F0F0;
        outline: none;
        border: none;
        resize: none;

        &::placeholder {
            opacity: 1;
            color: #0E2766;
        }
    }
}

.main-form__title {
    font-size: 1.8rem;
    color : #737373;
    font-weight: 400;
    padding-bottom: 1rem;
}

.main-form__label-file {
    position: relative;
    display: block;
    width: 100%;
    line-height: 1.2;
    padding-left: 6.5rem;
    padding-right: 6rem;
    //padding-right: 15px;
    font-size: 2rem;
    color: #737373;
    font-weight: 700;
    border-radius: 4px;
    background-color: #F0F0F0;
    cursor: pointer;
    padding-top: 2.3rem;
    padding-bottom: 2rem;

    &::before {
        content: "";
        position: absolute;
        background-image: url("../img/attach-ic-g.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 2.7rem;
        height: 2.7rem;
        left: 2.4rem;
        top: 50%;
        transform: translate(0, -50%);
        opacity: 1;
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url("../img/attach-ic.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 2.7rem;
        height: 2.7rem;
        left: 2.4rem;
        top: 50%;
        transform: translate(0, -50%);
        opacity: 0;
    }

    &.active {
        color: #0E2766;

        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 1;
        }
    }
}
.input-file-label-close {
    display: none;
    position: absolute;
    bottom: calc(50% - 3.5rem);
    right: 2.4rem;
    width: 3rem;
    height: 3rem;
    background: url('../img/menu-close.svg') center/contain no-repeat;
    background-size: 2rem;
    background-position: center;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }
    &.visible {
        transition: opacity 0.25s ease;
    }
}

input[type="file"] {
    position: absolute;
    left: -9999px;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}

.send-cv {
    padding-top: 8.5rem;
    padding-bottom: 10.5rem;

    .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
        left: 50%;
        transform: translate(-50%, 0);
    }

    .wpcf7 form.sent .wpcf7-response-output {
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    .main-form {

        .btn-main {
            max-width: 18rem;
        }
    }

    .main-title {
        padding-bottom: 2rem;
    }
}

.send-cv__sub-title {
    font-size: 1.9rem;
    color: #000;
    font-weight: 500;
    line-height: 3.1rem;
    color: #0E2766;
    text-align: center;
    max-width: 61rem;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.content-cols__cv-content {
    padding-bottom: 2rem;
    border-bottom: 1px solid #0E2766;
    padding-right: 2rem;
    margin-bottom: 3.2rem;

    &:first-of-type {
        padding-top: 3rem;
    }

    h4 {
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 700;
        color: #0E2766;
        padding-bottom: 2.2rem;
    }

    p {
        font-size: 1.9rem;
        line-height: 2.7rem;
        font-weight: 500;
        color: #0E2766;
    }

    &:last-of-type {
        border-bottom: none;
    }
}

.content-cols__cv-item {
    display: flex;
    padding-bottom: 3rem;

    &:first-child {
        .content-cols__cv-date {
            &::after {
                top: 10px;
            }
        }
    }

    &:last-of-type {
        padding-bottom: 0;

        .content-cols__cv-date {
            &::after {
                height: 100%;
            }
        }
    }

    &:only-child {

        .content-cols__cv-date {
            &::after {
                display: none;
            }
        }
    }
}

.content-cols__cv-date {
    position: relative;
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    color: #0E2766;
    min-width: 19rem;
    margin-right: 15px;
    margin-top: 5px;

    &::before {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        background-color: #0E2766;
        top: 5px;
        right: 0;
        border-radius: 50%;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 3px;
        width: 1px;
        height: 155%;
        background-color: #0E2766;
    }
}

.content-cols__form-content-sub-title {
    font-size: 1.9rem;
    font-weight: 500;
    color: #0E2766;
    line-height: 2.7rem;
    padding-top: 1rem;
}

.header-404 {
    display: none;
    padding: 0;
}

.footer-404 {
    display: none;
    padding: 0;
}

.page-zero {

    .container {
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::before {
            content: "";
            position: absolute;
            top: 38.5%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url("../img/404.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 45rem;
            height: 45rem;
            z-index: -1;
        }
    }
}

.page-zero__title {
    display: block;
    font-size: 18.7rem;
    font-weight: 900;
    color : #0E2766;
    text-transform: uppercase;
    text-align: center;
}

.page-zero__text {
    font-size: 4.7rem;
    font-weight: 700;
    color : #0E2766;
    text-align: center;
}

.page-zero__link-wrap {
    text-align: center;
    padding-top: 14.5rem;
}

.page-zero__link {
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    color : #0E2766;
    transition: all .3s;

    &:hover {
        color: #FF9500;
    }
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
    position: absolute;
    bottom: -4rem;
    left: 0;
    border: none;
    color: #f00;
    font-size: 1.4rem;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.wpcf7 form.sent .wpcf7-response-output {
    position: absolute;
    bottom: -4rem;
    left: 0;
    border: none;
    color: #f00;
    font-size: 1.4rem;
    margin: 0;
    color: #46b450;
    padding-left: 0;
    padding-right: 0;
}

.wpcf7-form {
    position: relative;
}

.wpcf7-not-valid-tip {
    display: block;
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    width: auto;
    font-size: 1.4rem;

}

.wpcf7-form-control-wrap {
    position: static;
}

.search-inner {
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
}

.search-inner {
    min-height: 80rem;

    .posts-inner__search-form {
        display: none;
    }

    .main-sub-title {
        padding-top: 5rem;
    }
}

.the_champ_horizontal_sharing .theChampSharing {
    border-radius: 3px;
    width: 15.4rem !important;
    height: 3.8rem !important;
}


ul.the_champ_sharing_ul li.theChampSharingRound, ul.heateor_ss_follow_ul li.theChampSharingRound {
    margin-right: 2rem !important;

    &:last-child {
        margin-right: 0 !important;
    }
}

.theChampEmailSvg {
    background-color: #0E2766 !important;
    border-radius: 3px;
}

.theChampMoreSvg {
    background-color: #969696 !important;
    border-radius: 3px;
}

.wpml-ls-legacy-dropdown {
    max-width: 44px;
}

.wpml-ls-legacy-dropdown a {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    border: none;
}

.wpml-ls-legacy-dropdown a span {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
    border: 0.5em solid transparent;
    border-top: .7em solid #fff;
    right: 0;
    top: 10px;
}

.wpml-ls-legacy-dropdown a:hover, .wpml-ls-legacy-dropdown a:focus, .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a {
    background-color: transparent;
}

.header__burger-menu-content {
    display: flex;
    align-items: center;
}

.wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
    border: none;
    //background-color: #0E2766;
    
    left: -5px;

    a {
        padding-left: 5px;
    }
}
.header--fixed {
    .wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
        background-color: #0E2766;
    }
}
.header-background {
    .wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
        background-color: #0E2766;
    }
}

.main-title-about {
    font-size: 4rem;
    line-height: 4.9rem;
    font-weight: 700;
    color: #0E2766;
    padding-bottom: 2.5rem;
}

.about-us-inner {

    .who-we-are__info p {
        padding-bottom: 2.5rem;
    }
}

.about-us-main {
    background-color: #EBEBEB;
    padding-top: 8.2rem;
    padding-bottom: 9.1rem;

    h3 {
        font-size: 4rem;
        line-height: 5.2rem;
        color: #0E2766;
        padding-bottom: 2.5rem;
    }

    h2 {
        
        font-size: 5.6rem;
        line-height: 7.1rem;
        font-weight: 900;
        color: #0E2766;
        padding-bottom: 2rem;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        max-width: 48rem;
        width: 100%;
        padding-bottom: 6rem;

        li {
            
            position: relative;
            font-size: 2.2rem;
            line-height: 3.2rem;
            font-weight: 700;
            color: #0E2766;
            padding-left: 3rem;

            &::before {
                content: "•";
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

.about-us-main__content {
    max-width: 81rem;
    margin: 0 auto;
}

.about-us-main__bottom-text {
    max-width: 95.5rem;
    width: 100%;
    margin: 0 auto;
    font-size: 4rem;
    line-height: 4.9rem;
    color: #0E2766;
    font-weight: 700;
    text-align: center;
}

.help-panel__sub-title {
    font-size: 3.1rem;
    line-height: 1;
    color: #fff;
    text-align: center;
    padding-bottom: 2rem;
}

.help-panel__about-btn {

    .help-panel__about-link {
        display: block;
        width: 17rem;
        padding-top: 2px;
        line-height: 5rem;
        font-size: 1.6rem;
        border: 3px solid #fff;
        text-align: center;
        border-radius: 3px;
        color: #fff;
        font-weight: 700;
        transition: all .3s;
        margin: 0 auto;
        margin-top: 1.4rem;

        &:hover {
            color: #FF9500;
            background-color: #fff;
        }
    }
}


.header__menu-list .menu-bold a {
    
    font-weight: 900;
}

.header__logo-mobile {
    display: block;
    max-width: 19rem;
    width: 100%;
    margin-bottom: 3rem;
}

.header__logo-mobile-wrap {
    width: 100%;
}

.link-back-wrap {
    display: flex;
    justify-content: flex-start;
    margin: -1rem 0 1.5rem;
}
.link-back {
    padding: 1rem;
    margin: -1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    outline: none;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 14px;
    color: #0E2766;
    transition: all 0.25s ease;
    .icon {
        display: inline-block;
        width: 3rem;
        height: 2rem;
        margin: -0.4rem 1rem 0 0;
        svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    &:hover {
        opacity: 0.7;
    }
}

.wpcf7-list-item-label {
    font-size: 1.7rem;
    color: #0E2766;

    a {
      color: #0E2766;
      border-bottom: 1px solid #0E2766;  

      &:hover {
        border-bottom: 1px transparent;
      }
    }
}

.wpcf7-form-control-wrap {
    display: block;
}

span.wpcf7-list-item {
    margin-left: 0rem;
}


.section-subscription {
    padding: 0 0 3rem;
    .form-info {
        &__title-content {
            max-width: 70rem;
        }
        &__field {

        }
        &__title {
            font-size: 4rem;
        }
        &__form {
            .btn-main {
                margin-top: 0;
            }
        }
    }
}

.main-title--single-cv,
.main-title--single-vacancy {
    text-transform: none;
}


@import "media-desktop";
@import "media-mobile";