@media (min-width: 1600px) {
    .intro-block {
        background-position: 0% 0%;
    }
}

@media (max-width: 1220px) {
    html {
        font-size: 9px;
    }

    .form-info__field textarea {
        height: 27px;
    }
}

@media (max-width: 1120px) {
    html {
        font-size: 8px;
    }

    .process .slick-dots li {
        height: 20px;
    }

    .form-info__field textarea {
        height: 25px;
    }

    .posts-inner__search-btn {
        width: 20px;
        height: 20px;
    }

    .posts-inner__search-btn::before {
        width: 20px;
        height: 20px;
    }
}