@media (max-width: 1023px) {
    .process__loader {
        display: none;
    }

    .benefits__item-wrap:nth-child(even) .benefits__item-img {
        right: -5rem;
    }

    .benefits__item-img {
        max-width: 15rem;
    }

    .looking__item {
        padding-bottom: 12rem;
    }

    .looking__item-text {
        padding-bottom: 10px;
    }

    .looking__item-title {
        font-size: 5.5rem;
        line-height: 6.5rem;
    }

    .looking__item::before {
        bottom: 4rem;
        width: 3.2rem;
        height: 3.2rem;
    }

    .looking__item::after {
        bottom: 4rem;
        width: 4rem;
        height: 3.5rem;
    }

    .intro h1 {
        font-size: 9.2rem;
        line-height: 10.4rem;
    }

    .header__menu {
        padding-left: 50px;
        padding-right: 50px;
    }

    .footer .container-big {
        flex-wrap: wrap;
    }

    .footer__design {
        width: 100%;
        margin-top: 30px;
    }

    .footer__socials {
        margin-left: 0;
    }

    .benefits__item {
        height: 30rem;
    }

    .header__menu {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header__menu-close {
        right: 15px;
        top: 15px;
    }

    .header__menu {
        padding-top: 70px;
    }

    .customers-reviews__big-slider-item::before {
        width: 5rem;
        height: 3.7rem;
        left: -7rem;
    }

    .customers-reviews__small-slider-img {
        height: 10rem;
    }

    .customers-reviews__small-slider-img img {
        max-width: 10rem;
        max-height: 10rem;
    }

    .customers-reviews__small-slider-item {
        max-width: 10rem;
    }

    .process-candidates__item-wrap:nth-child(2) .process-candidates__item::before {
        display: none;
    }

    .process-candidates__item-wrap:nth-child(2) .process-candidates__item::after {
        display: none;
    }

    .process-candidates__item-wrap:nth-child(1) .process-candidates__item::before {
        display: none;
    }

    .posts-inner__navigation-item {
        font-size: 2.2rem;
        margin-right: 25px;
    }

    .posts-inner__search-field {
        max-width: none;
    }

    .posts-inner__search-field.active {
        width: 93%;
    }

    .posts-inner__search-field input {
        font-size: 2.2rem;
    }

    .blog-single__articles-item-wrap {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .blog-single__articles-list {
        padding-left: 0;
        padding-right: 0;
    }

    .contacts-inner iframe {
        position: static;
        height: 400px;
        width: 100%;
    }

    .contacts-inner__info {
        margin: 0 auto;
    }

    .contacts-inner__info {
        padding-top: 50px;
        padding-bottom: 30px;
    }
}

@media (max-width: 740px) {
    .looking__list {
        flex-direction: column;
    }

    .looking__item {
        width: 100%;
    }

    .intro h1 {
        font-size: 8.2rem;
        line-height: 9.4rem;
    }

    .main-title {
        font-size: 4.6rem;
        line-height: 5.6rem;
    }

    .process {
        padding-top: 8rem;
    }

    .trusted__item-wrap {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .form-info__content {
        flex-direction: column;
        align-items: center;
    }

    .form-info__title-content {
        font-size: 4.9rem;
        margin-right: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    .form-info__cols {
        flex-direction: column;
    }

    .form-info__cols .form-info__field {
        max-width: none;
    }

    .form-info__form .btn-main {
        margin-left: 0;
    }

    .footer .container-big {
        flex-direction: column;
        align-items: center;
    }

    .footer__socials {
        order: 1;
        margin-bottom: 30px;
    }

    .footer__copyright {
        order: 2;
        text-align: center;
    }

    .footer__design {
        order: 3;
        text-align: center;
    }

    .trusted__item {
        margin: 0 auto;
    }

    .process .slick-dots {
        left: 65px;
    }

    .process__slider {
        padding-left: 22rem;
    }

    .header__social-list {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .header__social-item {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .form-info {
        padding-top: 10rem;
    }

    .who-we-are__content {
        flex-direction: column;
        align-items: center;
    }

    .who-we-are .main-title {
        text-align: center;
    }

    .who-we-are__info {
        margin-right: 0;
        max-width: none;
    }

    .who-we-are__info-img {
        margin-top: 30px;
    }

    .services__item-wrap {
        width: 100%;
    }

    .services__item {
        margin: 0 auto;
    }

    .network__list {
        margin-left: 0;
        margin-right: 0;
    }

    .network__item-wrap {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .posts__item-wrap {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .main-title-h3 {
        font-size: 4.5rem;
    }

    .customers-reviews__big-slider-item::before {
        display: none;
    }

    .process-candidates__item {
        margin: 0 auto;
    }

    .process-candidates__item-wrap {
        width: 100%;
    }

    .help-panel-candidates .help-panel__content {
        flex-direction: column;
        align-items: center;
    }

    .help-panel__info {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .network-candidates .network__item h4 {
        max-width: 48rem;
    }

    .network-candidates .network__item:hover .network-candidates__apply {
        display: none;
    }

    .network__note {
        display: none;
    }

    .posts-inner__search-field.active {
        width: 90%;
    }

    .posts-categories {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .posts-inner__nav-panel {
        flex-direction: column;
        align-items: center;
    }

    .posts-inner__nav-list {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .posts-inner__navigation-item {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .posts-inner__search-btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .posts-inner__search-close {
        top: auto;
        bottom: 0;
    }

    .posts-inner__search-field {
        top: auto;
        bottom: 0;
        transform: translate(0, 0);
    }

    .blog-single__img-list {
        flex-direction: column;
        align-items: center;
    }

    .blog-single__img {
        min-width: 0;
        max-width: 55rem;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .share-panel {
        flex-direction: column;
        align-items: center;
    }

    .share__title {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contacts-inner__info .header__social-list {
        flex-direction: row;
    }
}

@media (max-width: 640px) {
    .benefits__item-wrap {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .benefits__list {
        margin-left: 0;
        margin-right: 0;
    }

    .benefits__item {
        height: auto;
        min-height: 26rem;
        padding-top: 15px;
        padding-bottom: 15px;
    } 
}

@media (max-width: 550px) {
    .intro h1 {
        font-size: 6.2rem;
        line-height: 7.2rem;
    }

    .main-title {
        font-size: 3.7rem;
        line-height: 4.7rem;
    } 

    .header .btn-main {
        display: none;
    }

    .header .btn-main--mobile {
        display: block;
    }

    .header__logo {
        margin-right: 0;
    }

    .intro {
        padding-top: 12.5rem;
        padding-bottom: 8rem;
    }

    .footer__socials {
        flex-direction: column;
        align-items: center;
    }

    .footer__social-item {
        margin-right: 0;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .process__slide-item h4 {
        font-size: 3.5rem;
    }

    .process .slick-dots button {
        height: 5px;
        width: 30px;
    }

    .process .slick-dots li {
        width: 30px;
    }

    .process .slick-dots {
        left: 30px;
    }

    .process__slider {
        margin-top: 30px;
        padding-left: 12rem;
    }

    .looking__item-title {
        font-size: 4rem;
        line-height: 5rem;
    }

    .benefits {
        padding-top: 10rem;
    }

    .benefits__item h4 {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .trusted__item-wrap {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    .form-info__title {
        font-size: 3.7rem;
    }

    .help-panel__title {
        line-height: 4.7rem;
    }

    .trusted {
        padding-top: 8rem;
    }

    .form-info {
        padding-top: 8rem;
    }

    .benefits__item-img {
        max-width: 12rem;
    }

    .benefits__item-img {
        left: -4.5rem;
    }

    .benefits__item-wrap:nth-child(even) .benefits__item-img {
        right: -4rem;
    }

    .process {
        padding-bottom: 8rem;
    }

    .header__logo {
        max-width: 10rem;
    }

    .main-title-h3 {
        font-size: 3.7rem;
    }

    .services__item-img {
        max-width: 8rem;
        min-width: 8rem;
    }

    .services__list {
        padding-top: 7rem;
    }

    .services__item-wrap {
        padding-bottom: 30px;
    }

    .network {
        padding-top: 6rem;
    }

    .customers-reviews {
        padding-top: 7rem;
        padding-bottom: 9rem;
    }

    .customers-reviews__slider-wrap {
        padding-top: 2rem;
    }

    .customers-reviews__small-slider-img img {
        max-width: 6rem;
        max-height: 6rem;
    }

    .customers-reviews__small-slider-img {
        height: 6rem;
    }

    .customers-reviews__small-slider-item {
        max-width: 6rem;
    }

    .customers-reviews .slider-for {
        padding-bottom: 3rem;
    }

    .posts__item-wrap {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .posts__list {
        margin-left: 0;
        margin-right: 0;
    }

    .help-panel__links {
        flex-direction: column;
        align-items: center;
    }

    .help-panel__link {
        font-size: 2.6rem;
        margin-right: 0;
        margin-bottom: 15px;

        &::before {
            display: none;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .network__item {
        padding-left: 15px;
        padding-right: 15px;
    }

    .network__item::before {
        width: 5rem;
        height: 4.6rem;
    }

    .network__item h4 {
        font-size: 2.6rem;
        line-height: 3.2rem;
        min-height: 0;
    }

    .posts__list {
        padding-top: 30px;
    }

    .services__item p {
        font-size: 2rem;

        br {
            display: none;
        }
    }

    .main-sub-title {
        font-size: 3rem;
    }

    .services__list {
        padding-top: 30px;
    }

    .looking__item {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .network-candidates .network__item h4 {
        max-width: 27rem;
    }

    .help-panel__btn span {
        font-size: 1.8rem;
    }

    .process-candidates__item-img {
        max-width: 7rem;
        min-width: 7rem;
    }

    .intro--inner-small {
        padding-bottom: 30px;
    }

    .posts-inner__search-field input {
        font-size: 2rem;
    }

    .posts-inner__search-close {
        width: 2.2rem;
        height: 2.2rem;
    }

    .blog-single .main-title {
        line-height: 4.7rem;
    }

    .blog-single__main-img {
        height: 32rem;
    }

    .blog-single__articles-item h5 {
        max-width: 32rem;
    }

    .blog-single__img {
        height: 27rem;
    }

    .blog-single__articles-item {
        padding-left: 15px;
        padding-right: 15px;
    }

    .blog-single__articles {
        padding-top: 40px;
    }

    .blog-single__category-wrap {
        padding-top: 20px;
    }

    .contacts-inner__info .header__social-list {
        flex-direction: column;
        align-items: center;
    }

    .contacts-inner__info .header__social-item {
        margin-right: 0;
    }

    .contacts-inner iframe {
        height: 320px;
    }
}

@media (max-width: 370px) {
    .trusted__item-wrap {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .intro h1 {
        font-size: 5rem;
        line-height: 6.2rem;
    }

    .blog-single__articles-item::before {
        width: 3.5rem;
        height: 3rem;
    }

    .blog-single__articles-item::after {
        width: 3.5rem;
        height: 3rem;
    }

    .blog-single__articles-item h5 {
        max-width: 27rem;
    }
}